In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
from math import sqrt

### 1) How likely is it that you roll doubles when rolling two dice? 0.1673

In [2]:
#n_simulations = nrows = 10**5
#n_dice_rolled = ncols = 3

#rolls = np.random.choice([1, 2, 3, 4, 5, 6], nrows * ncols).reshape(nrows, ncols)

#(pd.DataFrame(rolls)
 #.apply(lambda row: 3 in row.values, axis=1)
 #.mean())

# 1)How likely is it that you roll doubles when rolling two dice?
n_rolls = nrows = 10**5
n_dice = ncols = 2

rolls = np.random.choice([1,2,3,4,5,6], nrows * ncols).reshape(nrows, ncols)

# (pd.DataFrame(rolls)
#  .apply(lambda row: lambda row: row[0]==row[1], axis = 1, axis = 1)
#  .mean())

rolls

array([[4, 5],
       [3, 6],
       [6, 5],
       ...,
       [2, 3],
       [5, 1],
       [1, 5]])

In [3]:
rolls = pd.DataFrame(rolls)

In [4]:
rolls

       0  1
0      4  5
1      3  6
2      6  5
3      6  1
4      4  3
...   .. ..
99995  3  1
99996  5  6
99997  2  3
99998  5  1
99999  1  5

[100000 rows x 2 columns]

In [5]:
rolls['pairs']= rolls.apply(lambda row: row[0]==row[1], axis = 1)

In [6]:
rolls.pairs.mean()
print('How likely is it that you roll doubles when rolling two dice?', rolls.pairs.mean())

How likely is it that you roll doubles when rolling two dice? 0.16658

### 2)If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [7]:
n_flips = flips = 10**5
n_coins = coins = 8

flip = np.random.choice([0,1], flips * coins).reshape(flips, coins)
# (pd.DataFrame(flip)
#   .apply(lambda flips: flip.sum(), axis = 1)
#   .mean())
flip

array([[1, 1, 0, ..., 1, 0, 0],
       [1, 0, 0, ..., 0, 1, 0],
       [1, 1, 1, ..., 1, 0, 1],
       ...,
       [1, 1, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 1, 1, ..., 0, 1, 0]])

In [8]:
pd.DataFrame(flip)

       0  1  2  3  4  5  6  7
0      1  1  0  0  0  1  0  0
1      1  0  0  0  0  0  1  0
2      1  1  1  0  0  1  0  1
3      0  0  1  0  1  0  1  0
4      0  0  0  0  1  0  1  0
...   .. .. .. .. .. .. .. ..
99995  1  1  1  1  1  0  0  0
99996  0  0  0  1  1  0  0  0
99997  1  1  0  0  1  0  1  0
99998  0  0  0  0  1  0  0  1
99999  0  1  1  1  0  0  1  0

[100000 rows x 8 columns]

In [9]:
(flip.sum(axis = 1)==3).mean()
print("probability of getting exactly 3 heads: ",(flip.sum(axis = 1)==3).mean())

probability of getting exactly 3 heads:  0.2178

### Probability of getting exactly 3 heads:  0.2172

In [10]:
(flip.sum(axis = 1)>=3).mean()
print("Probability of getting more than 3 heads: ",(flip.sum(axis = 1)>3).mean())

Probability of getting more than 3 heads:  0.6368

### Probability of getting more than 3 heads:  0.63883

### 3) There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them? 0.06124

In [11]:
trials = 10**5
billboards = 2

stud = np.random.choice([1,0,0,0],trials * billboards).reshape(trials,billboards)
stud

array([[0, 1],
       [1, 0],
       [1, 0],
       ...,
       [1, 0],
       [0, 0],
       [0, 0]])

In [12]:
(stud.sum(axis = 1)==2).mean()

0.06308

### 4) Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal)

In [13]:
n_simulation = n_rows = 10**5
n_days = n_columns = 5

popsim = np.random.normal(loc = 3, scale = 1.5, size = (n_rows,n_columns)).round()
popsim = np.where(popsim < 0,0,popsim)
popsim

array([[5., 3., 3., 5., 4.],
       [3., 2., 1., 0., 1.],
       [2., 3., 4., 3., 1.],
       ...,
       [3., 2., 2., 4., 4.],
       [4., 1., 3., 3., 2.],
       [6., 2., 4., 2., 5.]])

In [14]:
if_pop = popsim.sum(axis=1)
if_pop

array([20.,  7., 13., ..., 15., 13., 19.])

In [15]:
if_pop_avail = if_pop < 17
if_pop_avail.mean()

0.66615

### 5) Compare Heights

- Men have an average height of 178 cm and standard deviation of 8cm.
- Women have a mean of 170, sd = 6cm.
- Since you have means and standard deviations, you can use np.random.normal to generate observations.
- If a man and woman are chosen at random, what is the likelihood the woman is taller than the man?

In [27]:
num_trials = n_rows = 10**5
m_heights = np.random.normal(loc = 178, scale = 8, size = n_rows)
f_heights = np.random.normal(loc = 170, scale = 6, size = n_rows)

In [28]:
(f_heights>m_heights).mean()

0.21131

### 6) When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

- What is the probability that we observe an installation issue within the first 150 students that download anaconda?
- How likely is it that 450 students all download anaconda without an issue?

In [35]:
n_rows = 10**5
n_columns = 50

inst = np.random.choice([0,1], p = [0.004,0.996],size =(n_rows, n_columns))
(inst.sum(axis=1)==50).mean()

0.81813

In [37]:
n_columns = 100

inst = np.random.choice([0,1], p=[0.004,0.996],size =(n_rows,n_columns))
(inst.sum(axis=1)==100).mean()

0.6675

In [38]:
n_columns = 150

inst = np.random.choice([0,1], p=[0.004,0.996],size =(n_rows,n_columns))
(inst.sum(axis=1)==150).mean()

0.55104

In [39]:
n_columns = 450

inst = np.random.choice([0,1], p=[0.004,0.996],size =(n_rows,n_columns))
(inst.sum(axis=1)==450).mean()

0.16439

### 7) There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?How likely is it that a food truck will show up sometime this week?

In [41]:
n_rows = 10**5
n_cols = 3

ftruck = np.random.choice([1,0], size=(n_rows,n_cols), p=[0.7, 0.3])

In [42]:
(ftruck.sum(axis=1)==0).mean()

0.02682

In [43]:
n_cols = 2

ftruck = np.random.choice([1,0], size=(n_rows,n_cols), p=[0.7, 0.3])
(ftruck.sum(axis=1)>0).mean()

0.9105

### 8) If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

In [46]:
n_rows = 10**5
n_cols = 23
bday = np.random.choice(range(365), size=(n_rows,n_cols))
bday = pd.DataFrame(bday)
bday["n_unique"]= bday.nunique(axis=1)
(bday.n_unique != 23).mean()

0.50927

In [47]:
n_rows = 10**5
n_cols = 20
bday = np.random.choice(range(365), size=(n_rows,n_cols))
bday = pd.DataFrame(bday)
bday["n_unique"]= bday.nunique(axis=1)
(bday.n_unique != 20).mean()

0.41143