In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
from math import sqrt

### 1) How likely is it that you roll doubles when rolling two dice? 0.1673

In [2]:
#n_simulations = nrows = 10**5
#n_dice_rolled = ncols = 3

#rolls = np.random.choice([1, 2, 3, 4, 5, 6], nrows * ncols).reshape(nrows, ncols)

#(pd.DataFrame(rolls)
 #.apply(lambda row: 3 in row.values, axis=1)
 #.mean())

# 1)How likely is it that you roll doubles when rolling two dice?
n_rolls = nrows = 10**5
n_dice = ncols = 2

rolls = np.random.choice([1,2,3,4,5,6], nrows * ncols).reshape(nrows, ncols)

# (pd.DataFrame(rolls)
#  .apply(lambda row: lambda row: row[0]==row[1], axis = 1, axis = 1)
#  .mean())

rolls

array([[2, 2],
       [2, 4],
       [4, 6],
       ...,
       [6, 4],
       [2, 5],
       [2, 6]])

In [3]:
rolls = pd.DataFrame(rolls)

In [4]:
rolls

       0  1
0      2  2
1      2  4
2      4  6
3      6  3
4      1  1
...   .. ..
99995  4  6
99996  4  3
99997  6  4
99998  2  5
99999  2  6

[100000 rows x 2 columns]

In [5]:
rolls['pairs']= rolls.apply(lambda row: row[0]==row[1], axis = 1)

In [6]:
rolls.pairs.mean()
print('How likely is it that you roll doubles when rolling two dice?', rolls.pairs.mean())

How likely is it that you roll doubles when rolling two dice? 0.16665

### 2)If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [42]:
n_flips = flips = 10**5
n_coins = coins = 8

flip = np.random.choice([0,1], flips * coins).reshape(flips, coins)
# (pd.DataFrame(flip)
#   .apply(lambda flips: flip.sum(), axis = 1)
#   .mean())
flip

       0  1  2  3  4  5  6  7
0      1  1  0  0  1  1  1  1
1      0  0  0  1  1  0  0  1
2      1  1  1  0  0  1  0  0
3      1  0  1  0  1  1  1  0
4      1  1  0  1  1  0  1  0
...   .. .. .. .. .. .. .. ..
99995  0  1  0  1  0  0  1  1
99996  0  0  0  0  0  0  1  0
99997  1  1  0  1  0  1  0  1
99998  0  0  1  0  1  0  0  1
99999  0  1  0  0  1  0  0  0

[100000 rows x 8 columns]

In [43]:
pd.DataFrame(flip)

       0  1  2  3  4  5  6  7
0      1  1  0  0  1  1  1  1
1      0  0  0  1  1  0  0  1
2      1  1  1  0  0  1  0  0
3      1  0  1  0  1  1  1  0
4      1  1  0  1  1  0  1  0
...   .. .. .. .. .. .. .. ..
99995  0  1  0  1  0  0  1  1
99996  0  0  0  0  0  0  1  0
99997  1  1  0  1  0  1  0  1
99998  0  0  1  0  1  0  0  1
99999  0  1  0  0  1  0  0  0

[100000 rows x 8 columns]

In [47]:
(flip.sum(axis = 1)==3).mean()
print("probability of getting exactly 3 heads: ",(flip.sum(axis = 1)==3).mean())

probability of getting exactly 3 heads:  0.2172

### Probability of getting exactly 3 heads:  0.2172

In [49]:
(flip.sum(axis = 1)>=3).mean()
print("Probability of getting more than 3 heads: ",(flip.sum(axis = 1)>3).mean())

Probability of getting more than 3 heads:  0.63883

### Probability of getting more than 3 heads:  0.63883

### 3) There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them? 0.06124

In [65]:
trials = 10**5
billboards = 2

stud = np.random.choice([1,0,0,0],trials * billboards).reshape(trials,billboards)
stud

array([[0, 0],
       [1, 1],
       [0, 0],
       ...,
       [0, 1],
       [1, 0],
       [0, 0]])

In [69]:
(stud.sum(axis = 1)==2).mean()

0.06124

### 4) Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal)